
<h2>Що таке тепловий насос і як він працює?
</h2>
<p>
Тепловий насос - це прилад , призначаний для опалення житлових та нежитлових приміщень. В основу його роботи покладений холодильний цикл, тобто іншими словами це той же холодильник але набагато більшої потужності. І тут постає питання: "Звідки ж все таки береться тепло?". Відповідь дуже проста)) Вся холодильна техніка побудована на принципі переносу тепла з одного середовища в інше. Якщо прикласти руку до задньої стінки холодильника , ми відчуємо , що вона має досить високу температуру. Це значить, що за рахунок холодильного циклу , тепло яке знаходилось в холодильній камері перенеслось на задню стінку приладу.
</p>
<h2>
Що таке холодильний цикл?
</h2>
<p>
Як ми вже дізналися холодильний цикл це перенос тепла з одного середовища в інше. Але за рахунок чого цей процес відбувається? Відповідь: компресор, терморегулюючий розширювальний клапан, випарник, конденсатор і холодоагент. Це основні елементи, без яких холодильний цикл неможливий.
<ul>
        <li><span class="text-bold">Холодоагент</span> - це газ, який виконує роботу по переносу тепла завдяки своїм теплофізичним характеристикам.</li>
        <li><span class="text-bold">Компресор</span> - прилад, який стискає цей газ, за рахунок чого підвищується його тиск, а відповідно і температура.</li>
        <li><span class="text-bold">Конденсатор</span> - це теплообмінник, в якому стиснутий газ віддає температуру системі опалення вашого будинку ( у випадку з холодильником це задня стінка, яка віддає тепло у приміщення кухні)</li>
        <li><span class="text-bold">Терморегулюючий розширювальний клапан</span> - це елемент, який відповідає за зниження тиску газу, а відповідно і його температури.</li>
        <li><span class="text-bold">Випаровувач</span> - це теплообмінник, в якому газ відбирає тепло із зовнішнього середовища (грунт, вода, повітря). У випадку з холодильником холодоагент відбирає тепло із холодильної камери.</li>
</ul>
На малюнку приведеному нижче можна більш детальніше ознайомитись з процесами, які відбуваються всередині теплового насосу. Для повного розуміння розлянемо рух холодоагенту по системі (за відправну точку візьмемо компресор). Компресор виконує роботу по стисканню газу, і тим самим підвищує його температуру. Далі газ прямує до теплообмінника (конденсатор), в якому він віддає тепло системі опалення, а саме в теплу підлогу, радіатори, фанкойли. Покидаючи конденсатор, віддавший тепло холодоагент прямує до терморегулюючого розширювального клапану, в якому тиск , а відповіддно і температура газу різко падають, зарахунок значно зменшеного прохідного діаметру, який саме цим клапаном і регулюється. На цьому етапі газ, маючи від'ємну температуру повинен відібрати тепло з навколишньго середовища (грунт, вода, повітря), і саме з цією метою він прямує до теплообмінника (випаровувача). Після того як газ відібрав тепло з навколишнього середовища, він знову потрапляє до компресора і цикл повторюється.
</p>
<div class="image-cycle">
<img src="~/images/aboutHeatPumps/about_heat_pump.jpg" alt="зображення циклу роботи теплового насосу"/>
</div>
<h2>
Яка ефективність теплового насосу?
</h2>
<p>
    <span class="text-bold">
        Рейтинг теплових насосів по ефективності:
        </span>
    <ul>
        <li>вода-вода (забирає тепло із води)</li>
        <li>грунт-вода (забирає тепло із землі)</li>
        <li>півтря-вода (забирає тепло із повітря)</li>
        <li>повітря-повітря ( забирає тепло із повітря і передає його в приміщення шляхом повітряного обдуву. Це кондиціонер розрахований на роботу взимку)</li>
    </ul>

    <span class="text-bold">Розглянемо приклад з геотермальним тепловим насосом на 10 кВт:</span><br/> <br />  
По результатам розрахунків тепловитрати Вашого будинку склали 10 кВт. Для того щоб віддати будинку стільки тепла, тепловий насос має витратити на свою роботу приблизно 2,5 кВт електричної енергії і при цьому відібрати з землі ще 7,5 кВт теплової енергії. Тобто ми отримуємо просте рівняня: 7,5кВт(теплова енергія землі) + 2,5кВт(електричної енергії) = 10кВт ( теплова енргія потрібна для вашого будинку).
Якщо ми поділимо 10кВт на 2,5 кВт, то отримаємо число 4. Саме це число і визначає ефективність даного приладу. Тобто в порівнянні з електричним котлом, тепловий насос витрачає в 4 рази менше електроенергії. Цей показник прийнято називати COP(англ.). Тобто СОP такого теплового насосу складає 4 за умови нагріву теплоносія до 35 градусів. Саме ця температура і є оптимальною для теплої підлоги.
</p>

<link href="~/css/customer/aboutheatpumps.css" rel="stylesheet" />