<div class="contacts-block">
    
    <div class="contacts-text">
        <h1>Контакти</h1>
    <div class="contacts">
        <div >
            <p>
                    <span class="contacts-headers">Телефони:</span><br />
                    Богдан<br /> (098) 111 11 11<br /><br />
                    Олександр<br /> (073) 222 22 22<br />
                    <br />
                    <span class="contacts-message">Прохання перед Вашим візитом попередньо зателефонувати</span>
                    <br />
                <br />
                    <span class="contacts-headers">E-mail:</span>
                <br />
                glevatech@gmail.com<br />
        </div>
        <div>
            <p>
                    <span class="contacts-headers">Графік роботи:</span>
                <br />
                Пн-Пт: з 9:00-18:00<br />
                <br />
                    <span class="contacts-headers">Адреса:</span>
                <br />
                Київська обл., смт Глеваха , Вокзальна 38
            </p>
        </div>
        </div>
    </div>
    <div class="contacts-map-block">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.8823239523817!2d30.31878187654576!3d50.25678207155583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4b0c25085738f%3A0xda6a49c2887bd770!2sGLEVATECH!5e0!3m2!1suk!2sua!4v1694258302122!5m2!1suk!2sua"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<link rel="stylesheet" href="~/css/customer/contacts.css" asp-append-version="true" />
