<div class="info">
    <div class="info-block">
        <img class="" src="~/images/toclients/fast-delivery.png" />
        <h2>Оплата та доставка</h2>

        
        <p class="">
            -Для запуску у виробництво оплата за вибрану модель теплового насосу має складати 70%. Термін виготовлення: від 7 до 14 днів, в залежності від наявності комплектуючих на складі.
        </p>
    </div>
    <div class="info-block">
        <img class="" src="~/images/toclients/settings.png" />
        <h2>
            Монтаж
        </h2>
        
        <p class="">
            -Обов'язковою умовою для початку дії гарантійних зобов'язань є монтаж теплового насосу спеціалістами нашої компанії.
        </p>
    </div>
    <div class="info-block">
        <img class="" src="~/images/toclients/warranty.png" />
        <h2>Гарантія</h2>
        
        <p class="">
            -Гарантія на теплові насоси складає 3 роки. Протягом цього терміну ми зобов'язуємось безкоштовно проводити всі ремонтні роботи стосовно нашої продукції. Гарантія перестає діяти , якщо без нашого відому замовником були внесені зміни до конструкції теплового насосу.
        </p>
    </div>
</div>

<link href="~/css/customer/toclients.css" rel="stylesheet" />