@using Glevatech.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Glevatech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/Glevatech.styles.css" asp-append-version="true" />



</head>



<body>

    <div class="wrapper">
        <header>
            
            <div class="header-top-line">
                <div class="header-top-line-block" style="display:flex;justify-content: space-between; flex-direction:row; max-width:1000px; margin:auto; height:100%;">
                    <div class="header-phones">
                        <p>
                            (098) 111 11 11
                            <br />
                            (073) 222 22 22
                        </p>
                    </div>
                    
                        <partial name="_LoginPartial" />
                    
                </div>
            </div>

            <div class="header-image">
                <img src="~/images/Glevatech.jpg" />
            </div>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow menu-bg-color  d-flex align-items-center">
                <div class="container-fluid nav-custom ">
                    @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Glevatech</a>*@
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                        <ul id="menu" class="navbar-nav flex-grow-1 d-flex justify-content-between menu">
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HeatLossCalculator">Тепловитрати</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutHeatPumps">Про ТН</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ToClients">Клієнтам</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a>
                            </li>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <li class="nav-item ">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Адмін</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>

        </header>


        <main role="main" class="image-1">
            <div class="main-width">
                @RenderBody()
            </div>
        </main>
        <footer>
            <div class="footer-text-block p-2 col-4">
                Контактні дані:
                <br />
                (098) 111 11 11
                <br />
                (073) 222 22 22
                <br />
                <br />
                E-mail:
                <br />
                glevatech@gmail.com
            </div>
            <div class="footer-text-block p-2 col-4">
                Графік роботи:
                <br />
                Пн-Пт: з 9:00-18:00
                <br />
                <br />
                Адреса:
                <br />
                Київська обл., смт Глеваха , Вокзальна 38
            </div>
            <div class="map-block col-4">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.8823239523817!2d30.31878187654576!3d50.25678207155583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4b0c25085738f%3A0xda6a49c2887bd770!2sGLEVATECH!5e0!3m2!1suk!2sua!4v1694258302122!5m2!1suk!2sua"
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </footer>
    </div>

    @* <script>document.getElementById('davaToday').valueAsDate = new Date();</script>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

