@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Зміна паролю";
}

<h1>@ViewData["Title"]</h1>
<p>
    Будь ласка перевірте свою Ел.пошту щоб змінити пароль. У разі якщо ви не виявили лист у розділі Вхідних повідомлень, перевірте розділ Спам.
</p>
