.form-choose {
    display: flex;
    flex-direction:row;
    margin-bottom:20px;
}
.form-search {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#searchValue {
    min-width:150px;
}
#searchType {
    max-width: 200px;
    padding-left: 0;
    text-align: center;
}

#pageSize {
    width:80px;
}
#status {
    width:133px;
}
@media (max-width:390px) {
    .out-of-form-buttons {
        flex-direction:column;
    }
    .out-of-form-buttons div a{
        width:100%;
    }
}
@media (max-width:530px) {
    .table-container {
        width: 100%;
        overflow-x: auto;
    }
}